*{
	font-family: "trebuchet ms", helvetica, sans-serif;
	padding: 0;
	margin: 0;

}
body{
	background-color: #E7E7E7;
}
.cabeçalho{
	background-color: #ffc300;
	padding: 20px;
	text-align:center ;
	font-weight:bold ;
}

#pt1{
	color: white;
	font-size: 25px;
	padding: 10px;
}
span{
	color: #4C4847;
}
nav{
	padding: 10px;
	
}
/* OUTRA FORMA DE FORMATAR LINKS ESPECÍFICOS
Seleciona a div na qual o link está inserido e coloca "a" ao lado
.menu a{
	padding: 5px 15px;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	color: white ;
}
.menu a:link, .menu a:visited{
	color: white ;
	} 
	*/
.menu1{
	padding: 5px 15px;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	color: white ;
}
.menu1:link, .menu:visited{
	color: white ;
	}
.menu1:hover{
	background-color: white;
	color:  #ffc300;
}
#conteudo{
	width: 75%;
	
	margin: 20px auto;

}

#esquerda{
	background-color: white;
	width: 66%;
	text-align: justify;
	padding: 10px;
}

.cor-titulo{

	color: #ffc300;
}
.foto{
	margin:10px 0px;
}
.direita{
	background-color: white;
	width: 25%;
	padding: 5px;
	text-align: justify;
}
.titulo{
	background-color: #CFCFCF;
	color: #888787;
		
}
.margem{
	padding: 5px;
}
a{
	text-decoration: none;
	color:#ffc300;
}
a:hover{
	text-decoration: underline;
}
#esquerda, .direita{
	float: left;
	margin: 10px;
}
.tamanho{
	font-size: 14px;
}
.clear{
	clear: both;
}
#rodapé{background-color:#cecccc;text-align: center;padding: 5px;}